@import "src/assets/styles/variables";

.item {
  min-height: 42px;
}

.label {
  padding-left: 21px;

  background-image: url("../../../assets/images/icon-unchecked.png");
  background-repeat: no-repeat;
  background-position: center left;

  cursor: pointer;
}

.checkbox:checked ~ label {
  background-image: url("../../../assets/images/icon-checked.png");
}

.bonusWrap {
  margin: 0;
  padding-left: 21px;

  font-size: 12px;
}

.bonus {
  color: $color-bonus;
}

.bonusValue {
  color: $color-value;
}
