@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.titleBonus {
  @include divider;

  padding: 0 24px;
  padding-bottom: 10px;
}

.title {
  font-size: 14px;

  color: $color-main;
}

.list {
  @include listReset;

  padding-left: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  color: $color-secondary;
}

.field {
  @include field;
}

.label {
  color: #ffffff;
}
