@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";


.stronghold {
  @include divider;

  padding: 0 24px;
  padding-bottom: 10px;
}

.title {
  font-size: 14px;

  color: $color-main;
}

.desc {
  margin: 0;
  margin-left: 10px;
}
